* {
  box-sizing: border-box;
}

h1{
    color: red;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 11px;
}

.allTabs {
  margin-top: 5px;

}

.heart {
  font-size: 20px;
}

#jobs, #meetups {
  overflow-x: hidden;
}

.input-field input[type=search] {
  padding-left: 0;
}

#searchSubmit {
  /*display: none;*/
}

#myJobsCounter {
  margin-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ee6e73;
}

.loadMore {
  margin-bottom: 30px;
}

/* ==============================
CARD STYLES
================================= */
/* like/dislike buttons */
.resultCards {
  position: relative;
  min-height: 700px;
  /*overflow-x: hidden;*/
}
.job {
  /* Hide cards initially; show with jQuery */
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100%;
}

.job .card .card-content {
  height: 300px;
}
.job .card .card-content h4, .meetup .card .card-content h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
.job .card .card-content p, .meetup .card .card-content p {
  margin-top: 1rem;
}
.job .card .likeButton i, .dislikeButton i {
  font-size: 4rem;
  transition: color .3s linear;
}
.job .card .likeButton i  {
  float: right;
}
.job .card .likeButton i:hover {
  color: #388e3c !important;
}
.job .card .dislikeButton i:hover {
  color: #c62828 !important;
}

.tabs{
    overflow-x: hidden;
}

.brand-logo {
  background: url("./assets/images/jobiato.jpg");
}