* {
  box-sizing: border-box;
}

h1{
    color: red;
}


/* ==============================
CARD STYLES
================================= */
/* like/dislike buttons */
.resultCards {
  position: relative;
}
.card {
  /* Hide cards initially; show with jQuery */
  /*display: none;*/
}
.card .likeButton i, .dislikeButton i {
  font-size: 4rem;
  transition: color .3s linear;
}
.card .likeButton i {
  float: right;
}
.card .likeButton i:hover {
  color: #388e3c !important;
}
.card .dislikeButton i:hover {
  color: #c62828 !important;
}
.card .card-content h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
.card .card-content p {
  margin-top: 1rem;
}
