* {
  box-sizing: border-box;
}

h1{
    color: red;
}

.heart {
  padding-right: 20px;
  padding-left: 10px;
}

/* ==============================
CARD STYLES
================================= */
/* like/dislike buttons */
.likeButton i, .dislikeButton i {
  font-size: 4rem;
  transition: color .3s linear;
}
.likeButton i {
  float: right;
}
.likeButton i:hover {
  color: #388e3c !important;
}
.dislikeButton i:hover {
  color: #c62828 !important;
}

.tabs{
    overflow-x: hidden;
}
