* {
  box-sizing: border-box;
}

h1{
    color: red;
}

h2 {
  font-size: 1.5rem;
}

.icon {
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 11px;
  cursor: pointer;
}

.allTabs {
  margin-top: 5px;
}

.heart {
  font-size: 1.5rem;
  transition: all .3s linear !important;
}

.search {
  font-size: 1.5rem;
  display: none;
  transition: all .3s linear !important;
}

#myEventsLabel {
  display: none;
}

.heart:hover, .search:hover {
  color: #ee6e73 !important;
  background-color: #ffffff !important;
}

ul.tabs>li.pageSwitcher {
  padding-right: 0;
}
ul.tabs>li.pageSwitcher>i {
  margin-right: 0;
}

#jobs, #meetups {
  overflow-x: hidden;
}

.input-field input[type=search] {
  padding-left: 0;
}

#searchSubmit {
  /*display: none;*/
}

/* ==============================
CARD STYLES
================================= */
/* like/dislike buttons */
.resultCards {
  position: relative;
  min-height: 700px;
  /*overflow-x: hidden;*/
}
.job {
  /* Hide cards initially; show with jQuery */
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100%;
}
.job .card {}
.job .card .card-content {
  height: 300px;
}
.job .card .card-content h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
.job .card .card-content p {
  margin-top: 1rem;
}
.job .card .likeButton i, .dislikeButton i {
  font-size: 4rem;
  transition: color .3s linear;
}
.job .card .likeButton i {
  float: right;
}
.job .card .likeButton i:hover {
  color: #388e3c !important;
}
.job .card .dislikeButton i:hover {
  color: #c62828 !important;
}

.tabs{
    overflow-x: hidden;
}
