* {
  box-sizing: border-box;
}

h1{
    color: red;
}

.icon {
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
}

.allTabs {
  margin-top: 5px;
}

.heart {
  font-size: 23px;
}






/* ==============================
CARD STYLES
================================= */
/* like/dislike buttons */
.likeButton i, .dislikeButton i {
  font-size: 4rem;
  transition: color .3s linear;
}
.likeButton i {
  float: right;
}
.likeButton i:hover {
  color: #388e3c !important;
}
.dislikeButton i:hover {
  color: #c62828 !important;
}

.tabs{
    overflow-x: hidden;
}
